<div class="card-panel">
	<%= image_tag avatar_url(message.user), class: 'circle avatar_small' %>
	<strong><%= message.user.full_name %></strong>
	<<span><%= message.message_time %></span>
	<br />
	<div>
		<%= message.content %>
	</div>
</div>