<div class="row">
	<div class="col m3">
		<%= image_tag avatar_url(@other), class: 'circle avatar-small' %><br/>
		<strong><%= @other.full_name %></strong>
		<%= link_to 'View profile', @other, class: 'btn' %>
	</div>
	<div class="col m9">
		<div class="card-panel">
			<%= subscribe_to conversation_messages_path(@conversation) %>
			<h4>Conversation with <%= @other.full_name %></h4>
			<%= form_for [@conversation, @conversation.messages.new], remote: true do |f| %>
				<div class="form-group">
					<%= f.text_area :content, placeholder: 'Add a message', class: 'form-control' %>	
				</div>
				<%= f.hidden_field :user_id, value: current_user.id %>
				<div class="actions">
					<%= f.submit 'Send message', class: 'btn' %>
				</div>
			<% end %>
		</div>
		<div id="chat">
			<%= render @messages, locals: {conversation: @conversation} %>
		</div>
	</div>
</div>
