<div class="row">
  <div class="col-md-6 col-md-offset-3 center-align">
    <h2>Edit <%= resource_name.to_s.humanize %></h2>

  <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
    <%= render 'shared/devisemes' %>

    <div class="form-group">
      <%= f.text_field :first_name, class: 'form-control', autofocus: true, placeholder: 'First name' %>
    </div>

    <div class="form-group">
      <%= f.text_field :last_name, class: 'form-control', placeholder: 'Last name' %>
    </div>

    <div class="form-group">
      <%= f.email_field :email, class: 'form-control', placeholder: 'Email' %>
    </div>

    <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
      <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
    <% end %>

    <div class="form-group">
      <%= f.password_field :current_password, class: 'form-control', autocomplete: "off", placeholder: 'Type current password' %>
    </div>

    <div class="form-group">
      <%= f.password_field :password, class: 'form-control', autocomplete: "off", placeholder: 'Type new password' %>
    </div>

    <div class="form-group">
      <%= f.password_field :password_confirmation, class: 'form-control', autocomplete: "off", placeholder: 'Type new password again' %>
    </div>

    <div class="actions">
      <%= f.submit "Update", class: 'btn btn-primary' %>
    </div>
  <% end %>

  </div>
</div>
