<div class="row">
<div class="col-md-6 col-md-offset-3 center-align">
  
  <h2>Sign up</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render 'shared/devisemes' %>

    <div class="form-group">
      <%= f.text_field :first_name, autofocus: true, class: 'form-control', placeholder: 'First name' %>
    </div>

    <div class="form-group">
      <%= f.text_field :last_name, class: 'form-control', placeholder: 'Last name' %>
    </div>

    <div class="form-group">
      <%= f.email_field :email, class: 'form-control', placeholder: 'Email' %>
    </div>

    <div class="form-group">
      <% if @validatable %>
        <em>( <%= @minimum_password_length %> characters minimum)</em>
      <% end %> <br/>
      <%= f.password_field :password, autocomplete: "off", class: 'form-control', placeholder: 'Password' %>
    </div>

    <div class="actions">
      <%= f.submit "Sign up", class: 'btn btn-primary' %>  
    </div>
  <% end %>

  
</div>

