<div class="row">
	<div class="col-md-12">
		<div class="card-panel">
			<h3>Your conversations</h3>
			<% @conversations.each do |conversation| %>
				<% other = conversation.sender == current_user ? conversation.recipient : conversation.sender %>
				<%= link_to conversation_messages_path(conversation) do %>
				<div class="row conversation">
					<div class="col m2">
						<%= image_tag avatar_url(other), class: "circle avatar-small"%> 
					</div>
					<div class="col m2">
						<%= other.full_name %><br/>
						<%= conversation.messages.last.message_time %>
					</div>
					<div class="col m8">
						<%= conversation.messages.last.content %>
					</div>
				</div>
				<% end %>
			<% end %>
		</div>
	</div>
</div>