<div class="card-panel">
	<h4>Create your thing</h4>
	<div class="panel-body">
		<div class="">
			<%= form_for @thing, html: {multipart: true} do |f| %>
				<div class="row">
					<div class="col s12">
						<div class="form-group">
							<%= f.select :category, [['Tool','Tool'],['Entertainment','Entertainment'],['Sports','Sports']], id: 'category', prompt: 'Select category..' %>
						</div>
					</div>

					<div class="col s12">
						<div class="form-group">
							<%= f.text_field :name, placeholder: 'Name', class: 'form-control' %>
						</div>
					</div>
					<div class="col s12">
						<div class="form-group">
							<div class="input-group">
								<div class="input-group-addon">
									<%= f.text_field :price, placeholder: 'Rates (per day)', class: 'form-control' %>
								</div>
							</div>
						</div>
					</div>
					<div class="col s12">
						<div class="form-group">
							<%= f.text_field :location, placeholder: 'Location of item', class: 'form-control' %>
						</div>
					</div>
					<div class="col s12">
						<div class="input-field">
							<%= f.text_area :description, placeholder: 'Describe your item', class: 'materialize-textarea', id: 'textarea1' %>
						</div>
					</div>
					<div class="col s12 select">
						<div class="form-group">
							<%= f.select :condition, [['Brand New','Brand New'],['Rarely Used','Rarely Used'],['Used Yearly','Used Yearly'],['Used Monthly','Used Monthly'],['Used Daily','Used Daily']], prompt: 'Select..', class: 'form-control' %>
						</div>
					</div>
					<div class="col s12">
						<div class="file-field input-field">
					      <div class="btn">
					        <span>Upload photos</span>
					        <%= file_field_tag 'images[]', type: :file, multiple: true %>
					      </div>
					      <div class="file-path-wrapper">
					        <input class="file-path validate" type="text" placeholder="Upload one or more photos">
					      </div>
					    </div>
					</div>
					
					<div id="photos"><%= render 'photos/list' %></div>

					<div class="col s12 actions input-field center-align">
						<%= f.submit 'OK', class: 'btn waves-effect waves-light' %>
					</div>
				</div>
			<% end %>
		</div>
	</div>
</div>