<div class="row">
	<div class="col m3">
		<%= render 'rentals/sidebar' %>
	</div>
	<div class="col m9">
		<div class="panel panel-default card-panel teal lighten-2">
			<div class="panel-heading">
				Listings
			</div>
			<div class="panel-body">
				<% @things.each do |thing| %>
					<div class="row">
						<div class="col m2">
							<%= image_tag thing.photos[0].image.url(:thumb) if thing.photos.length > 0 %>
						</div>
						<div class="col m7">
							<h4><%= thing.name %></h4>
						</div>
						<div class="col m3 right">
							<%= link_to 'Update', edit_thing_path(thing), class: 'btn btn-primary' %>
						</div>
					</div>
					<hr>	
				<% end %>
			</div>
		</div>
	</div>
</div>