<div class="panel panel-default">
	<div class="panel-body">
		<!-- i=Image -->
		<div class="row">
			<div class="col m12">
				<%= image_tag @photos[0].image.url(), class: 'responsive-img' if @photos.length > 0 %>
			</div>
		</div>
		<!-- Main -->
		<div class="row">
			<div class="col m4">
				<div class="row">
					<div class="col m3 center-align">
						<%= image_tag avatar_url(@thing.user), class: 'img-circle avatar-large' %><br/><br/>
						<%= @thing.user.first_name %>
					</div>
				</div>
			</div>
			<div class="col m4">
				<h4><%= @thing.name %></h4>
				<%= @thing.location %>

				<div class="row center-align row-space-1">
					<div class="col-sm-4">
						<i class="fa fa-home fa-2x"></i>
						<%= @thing.category %>
					</div>
					<div class="col-sm-4">
						<i class="fa fa-users fa-2x"></i>
						<%= @thing.condition %>
					</div>
					<div class="col-sm-4">
						<i class="fa fa-bed fa-2x"></i>
						<%= @thing.description %>
					</div>
				</div>
			</div>
			<div class="col m4">
				<%= render 'rentals/form' %>
			</div>
		</div>
		<!-- Carousel -->
		<div class="row">
			<div class="col m10 col moffset-1">
				<div id="img-carousel" class="carousel slide" data-ride="carousel">
					<!-- Indicators -->
					<% if @photos %>
						<ol class="carousel-indicators">
							<% @photos.each do |photo| %>
								<li data-target="img-carousel" data-slide-to="<%= photo.id %>"></li>
							<% end %>
						</ol>
					<% end %>
					<!-- Photos wrapper -->
					<% if @photos %>
						<div class="carousel-inner" role="listbox">
							<% @photos.each do |photo| %>
								<div class="item <%= 'active' if photo.id == @photos[0].id %>">
									<%= image_tag photo.image.url(), class: 'responsive-img' %>
								</div>
							<% end %>		
						</div>
					<% end %>

				</div>
			</div>
		</div>
		<br/>
		<hr>
		<!-- Google map -->
		<div class="row">
			<div class="col m12">
				<div id="map">
					<%= @thing.latitude %>
					<%= @thing.longitude %>
				</div>
				<style>
					#map {
						width: 500px;
						height: 400px;
					}
				</style>
			    <script>
			      var map;
			      function initMap() {
			        map = new google.maps.Map(document.getElementById('map'), {
			          center: {lat: <%= @thing.latitude %>, lng: <%= @thing.longitude %>},
			          zoom: 11,
			        });
			        var marker = new google.maps.Marker({
			        	position: {lat: <%= @thing.latitude %>, lng: <%= @thing.longitude %>},
			        	map: map,
			        	title: 'Borrowmate'
			        });

			      }

			    </script>
				<script src="https://maps.googleapis.com/maps/api/js?callback=initMap" async defer></script>

			</div>
		</div>
		<br/>
		<hr>
		<!-- Close by things -->
		<div class="row">
			<% for thing in @thing.nearbys(10) %>
				<div class="col m4">
					<div class="panel panel-default">
						<div class="panel-heading preview">
							<%= image_tag @thing.photos[0].image.url(:medium) if @photos.length > 0 %>
						</div>
						<div class="panel-body">
							<%= link_to thing.name, thing %><br/>
							(<%= thing.distance.round(2)%> km away)
						</div>
					</div>
				</div>
			<% end %>
		</div>
	</div>
</div>
