<div class="row">
	<div class="col m3">
		<div class="card-panel hoverable">
			<div class="center-align">
				<%= image_tag avatar_url(@user), class: 'avatar-full' %><br/>
				<% if current_user != @user %>
					<div>
						<%= link_to 'Message', conversations_path(sender_id: current_user.id, recipient_id: @user.id), method: 'post', class: 'btn' %>
					</div>
				<% end %>
			</div>
			<div class="panel panel-default">
				<div class="panel-heading">
					Verification
				</div>
				<div class="panel-body">
					Email Address<br/>
					Phone Number
				</div>
			</div>
		</div>
	</div>
	<div class="col m9">
		<h2><%= @user.full_name %></h2>
		<div class="description row-space-3">
			<%= @user.description %>
		</div>
		<h4>Listings (<%= @things.length %>)</h4><br/>
		<div class="row">
			<% @things.each do |thing| %>
				<div class="col m4">
					<div class="card-panel hoverable">
						<div class="panel panel-default">
							<div class="panel-heading preview">
								<%= image_tag thing.photos[0].image.url(:medium), class: 'responsive-img' if thing.photos.length > 0%>
							</div>
							<div class="panel-body">
								<%= link_to thing.name, thing %>
							</div>
						</div>
					</div>
				</div>
			<% end %>
		</div>
	</div>
</div>