<div class="row">
  <div class="col-md-6 col-md-offset-3 center-align">
    <h2>Change your password</h2>

  <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
    <%= render 'shared/devisemes' %>
    <%= f.hidden_field :reset_password_token %>

    <div class="form-group">
      <% if @minimum_password_length %>
        <em>(<%= @minimum_password_length %> characters minimum)</em><br />
      <% end %>
      <%= f.password_field :password, autofocus: true, class: 'form-group', autocomplete: "off" %>
    </div>

    <div class="form-group">
      <%= f.password_field :password_confirmation, class: 'form-group', autocomplete: "off" %>
    </div>

    <div class="actions">
      <%= f.submit "Change my password" %>
    </div>
  <% end %>
  </div>
</div>
