<!-- Static navbar -->

  <nav class="navbar-fixed orange accent-3">
    <div class="nav-wrapper">
      <%= link_to 'Borrowmate', root_path, class: 'brand-logo' %>
      <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
      <ul class="right hide-on-med-and-down">
        <% if (!user_signed_in?) %>
          <li><%= link_to 'Log in', new_user_session_path %></li>
          <li><%= link_to 'Sign up', new_user_registration_path %></li>
        <% else %>
          <li>
          </li>
          <li><%= link_to (raw('<i class="material-icons">message</i>')), conversations_path %></li>
          <li><%= link_to (raw('<i class="material-icons">library_add</i>')), new_thing_path, class: 'valign-wrapper' %></li>
            <a class="dropdown-button valign-wrapper" href="#" data-activates="dropdown1">
              <%= current_user.full_name %> <%= image_tag avatar_url(current_user), class: 'circle avatar-small' %> 
              <i class="material-icons right">arrow_drop_down</i>
            </a>
            <ul id="dropdown1" class="dropdown-content">
              <li><%= link_to (raw('<i class="material-icons">dashboard</i> My Full profile')), user_path(current_user) %></li>
              <li><%= link_to (raw('<i class="material-icons">games</i> My Things')), things_path %></li>
              <li><%= link_to (raw('<i class="material-icons">call_made</i> My Lendings')), your_lendings_path %></li> 
              <li><%= link_to (raw('<i class="material-icons">call_received</i> My Borrowings')), your_borrowings_path %></li>
              <li><a href="#"><i class="material-icons">loyalty</i>My wish list</a></li>
              <li><%= link_to (raw('<i class="material-icons">power_settings_new</i> Edit My Account')), edit_user_registration_path %></li>
              <li><%= link_to (raw('<i class="material-icons">error</i>Log out')), destroy_user_session_path, method: :delete %></li>
            </ul>
        <% end %>
      </ul>
      <ul class="side-nav" id="mobile-demo">
        <% if (!user_signed_in?) %>
          <li><%= link_to 'Log in', new_user_session_path %></li>
          <li><%= link_to 'Sign up', new_user_registration_path %></li>
        <% else %>
          <li>
          </li>
          <li><%= link_to (raw('<i class="material-icons">message</i> <span>Messages</span>')) %></li>
          <li><%= link_to (raw('<i class="material-icons">library_add</i> <span>Add new thing</span>')), new_thing_path, class: 'valign-wrapper' %></li>
            <a class="dropdown-button2 valign-wrapper" href="#" data-activates="dropdown2">
              <%= current_user.full_name %> <%= image_tag avatar_url(current_user), class: 'circle avatar-small' %> 
              <i class="material-icons right">arrow_drop_down</i>
            </a>
            <ul id="dropdown2" class="dropdown-content">
              <li><%= link_to (raw('<i class="material-icons">dashboard</i> My Full profile')), user_path(current_user) %></li>
              <li><%= link_to (raw('<i class="material-icons">games</i> My Things')), things_path %></li>
              <li><%= link_to (raw('<i class="material-icons">call_made</i> My Lendings')), your_lendings_path %></li> 
              <li><%= link_to (raw('<i class="material-icons">call_received</i> My Borrowings')), your_borrowings_path %></li>
              <li><a href="#"><i class="material-icons">loyalty</i>My wish list</a></li>
              <li><%= link_to (raw('<i class="material-icons">power_settings_new</i> Edit My Account')), edit_user_registration_path %></li>
              <li><%= link_to (raw('<i class="material-icons">error</i>Log out')), destroy_user_session_path, method: :delete %></li>
            </ul>
        <% end %>
      </ul>

    </div>
  </nav>

