<%= form_for([@thing, @thing.rentals.new]) do |f| %>
	<div class="row">
		<div class="col m12 price_tag">
			<span>$<%= @thing.price %></span>
			<span class="pull-right">Per Night</span>
		</div>
	</div>
	<div class="row">
		<div class="col m6">
			<label>Borrow date</label>
			<%= f.text_field :start_date, readonly: 'true', placeholder: 'Borrow Date', class: 'form-control' %>
		</div>
		<div class="col m6">
			<label>Return date</label>
			<%= f.text_field :end_date, readonly: 'true', placeholder: 'Return Date', class: 'form-control', disabled: 'true' %>
		</div>
	</div>
	<%= f.hidden_field :thing_id, value: @thing.id %>
	<%= f.hidden_field :price, value: @thing.price %>
	<%= f.hidden_field :total, id: 'rental_total' %>

	<h4><span id="message"></span></h4>
	<div id="preview" style="display:none">

		<table class="rental-table">
			<tbody>
				<tr>
					<td>
						Day(s)
					</td>
					<td>
						<span id="rental_days"></span>
					</td>
				</tr>
				<tr>
					<td>
						Total
					</td>
					<td>
						$ <span id="rental_sum"></span>
					</td>
				</tr>
			</tbody>
		</table>
		<br/>
	</div>
	
	<%= f.submit 'Book now', id:'btn_book', class: 'btn btn-primary wide', disabled: true %>
	<br/><br/>
<% end %>
	

<script>

	function unavailable(date) {
		dmy = date.getDate() + "-" + (date.getMonth()+1) + "-" + date.getFullYear();
		return [$.inArray(dmy, unavailableDates) == -1];
	}
	$(function() {

		unavailableDates = [];

		$.ajax({
			url: '/preload',
			data: {'thing_id': <%= @thing.id %>},
			dataType: 'json',
			success: function(data) {
				$.each(data, function(arrID, arrValue) {
					for(var d = new Date(arrValue.start_date); d <= new Date(arrValue.end_date); d.setDate(d.getDate() + 1)) {
						unavailableDates.push($.datepicker.formatDate('d-m-yy', d));
					}
				});
				$('#rental_start_date').datepicker ({
					dateFormat: 'dd-mm-yy',
					minDate: 0,
					maxDate: '3m',
					beforeShowDay: unavailable,
					onSelect: function(selected) {
						$('#rental_end_date').datepicker('option', 'minDate', selected);
						$('#rental_end_date').attr('disabled', false);

						var start_date = $(this).datepicker('getDate');
						var end_date = $('#rental_end_date').datepicker('getDate');
						var days = (end_date - start_date)/1000/60/60/24 + 1;
						var input = {
							'start_date': start_date,
							'end_date': end_date,
							'thing_id': <%= @thing.id %>
						}
						$.ajax ({
							url: '/preview',
							data: input,
							success: function(data) {
								if (data.conflict) {
									$('#message').text('This date range conflicts with another booking');
									$('#preview').hide();
									$('#btn_book').attr('disabled',true);
								} else {
									$('#preview').show();
									$('#btn_book').attr('disabled',false);

									var total = days * <%= @thing.price %>
									$('#rental_days').text(days);
									$('#rental_sum').text(total);
									$('#rental_total').val(total);
								}

							}
						});
					}
				});
				$('#rental_end_date').datepicker ({
					dateFormat: 'dd-mm-yy',
					minDate: 0,
					maxDate: '3m',
					beforeShowDay: unavailable,
					onSelect: function(selected) {
						$('#rental_start_date').datepicker('option', 'maxDate', selected);

						var start_date = $('#rental_start_date').datepicker('getDate');
						var end_date = $(this).datepicker('getDate');
						var days = (end_date - start_date)/1000/60/60/24 + 1;
						var input = {
							'start_date': start_date,
							'end_date': end_date,
							'thing_id': <%= @thing.id %>
						}
						$.ajax ({
							url: '/preview',
							data: input,
							success: function(data) {
								if (data.conflict) {
									$('#message').text('This date range conflicts with another booking');
									$('#preview').hide();
									$('#btn_book').attr('disabled',true);
								} else {
									$('#preview').show();
									$('#btn_book').attr('disabled',false);

									var total = days * <%= @thing.price %>
									$('#rental_days').text(days);
									$('#rental_sum').text(total);
									$('#rental_total').val(total);
								}

							}
						});
					}
				});
			}
		})
	});
</script>