<ul class="sidebar-list">
	<li class="sidebar-item">
		<%= link_to 'My things', things_path, class: 'sidebar-link active' %>
	</li>
	<li class="sidebar-item">
		<%= link_to 'My lendings', your_lendings_path, class: 'sidebar-link' %>
	</li>	
	<li class="sidebar-item">
		<%= link_to 'My borrowings', your_borrowings_path, class: 'sidebar-link' %>
	</li>	
</ul>