<div class="row">
	<div class="col m3">
		<%= render 'sidebar' %>
	</div>
	<div class="col m9">
		<div class="panel panel-default">
			<div class="panel-heading">
				Your Lendings
			</div>
			<div class="panel-body">
				<% @things.each do |thing| %>
					<% thing.rentals.each do |rental| %>
						<div class="row">
							<div class="col m2">
								<%= rental.start_date.strftime('%v') %>
							</div>
							<div class="col m6">
								<%= link_to thing_path(rental.thing) do %>
									<%= image_tag rental.thing.photos[0].image.url(:thumb) if rental.thing.photos.length > 0%>
								<% end %>
							</div>
							<div class="col m2">
								<%= link_to user_path(rental.user) do %>
									<%= image_tag avatar_url(rental.user), class: 'img-circle avatar_medium' %>
								<% end %>
							</div>
							<div class="col m2 right">
								$<%= rental.total %>
							</div>
						</div>
						<hr>	
					<% end %>
				<% end %>
			</div>
		</div>
	</div>
</div>