<div class="row">
	<div class="col m3">
		<%= render 'sidebar' %>
	</div>
	<div class="col m9">
		<div class="panel panel-default">
			<div class="panel-heading">
				Your borrowings
			</div>
			<div class="panel-body">
				<% @borrowings.each do |borrowing| %>
					<div class="row">
						<div class="col m2">
							<%= borrowing.start_date.strftime('%v') %>
						</div>
						<div class="col m6">
							<%= link_to thing_path(borrowing.thing) do %>
								<%= image_tag borrowing.thing.photos[0].image.url(:thumb) if borrowing.thing.photos.length > 0%>
							<% end %>
						</div>
						<div class="col m2">
							<%= link_to user_path(borrowing.thing.user) do %>
								<%= image_tag avatar_url(borrowing.thing.user), class: 'img-circle avatar_medium' %>
							<% end %>
						</div>
						<div class="col m2 right">
							$<%= borrowing.total %>
						</div>
					</div>
					<hr>	
				<% end %>
			</div>
		</div>
	</div>
</div>