<% if @photos %>
	<div class="row">
		<% @photos.each do |photo| %>
			<div class="col m4">
				<div class="panel panel-default">
					<div class="panel-heading preview">
						<%= image_tag photo.image.url(), class: 'responsive-img' %>
					</div>
					<div class="panel-body">
						<span class="pull-right">
							<%= link_to photo, remote: true, method: :delete do %>
								<i class="fa fa-times fa-lg"></i>
							<% end %>
						</span>
					</div>
				</div>
			</div>
		<% end %>
	</div>
<% end %>