//@import "bootstrap-sprockets";
//@import "bootstrap";
@import "toastr";
@import "font-awesome-sprockets";
@import "font-awesome";
@import "materialize";
@import url(https://fonts.googleapis.com/css?family=Montserrat);

body, html, .main-bg {
	height: 100%;
}

body {
	font-size: 1.5rem;
	font-weight: 300;
}

h1, h2, h3, h4, h5, h6 {
	font-family: "Montserrat", "Roboto", sans-serif;
}

/* NAVIGATION ============================== */

.brand-logo {
	font-family: "Montserrat", "Roboto", sans-serif;
}

.nav {
	&> li {
		&> a {
			&> img {
				margin-right: 10px;
				&.gravatar-small {
					max-width: 35px;
				}
			}
		}
	}
}

nav {
	ul {
		a {
			font-size: 1.5rem;
		}
	}
	i {
		display: inline!important;
	}
}

.dropdown-content {
	min-width: 15rem;
	li {
		& > a {
			display: flex;
			i {
			    display: inline;
			    margin-right: 0.5rem;
			}
		}
	}
}

/* BODY ============================== */

.main-bg {
	//background-image: image-url("tools2_lr.jpg");
	background-size: cover;
}

.rental-table {
	td {
		width: 100%;
		border: 1px solid #dce0e0;
		padding: 10px;
	}
}


.price_tag {
	background-color: #606567;
	color: #fff;
	font-size: 20px;
	padding: 10px;
	margin-bottom: 10px;
}

.avatar-small {
	width: 28px;
}
.avatar-medium {
	width: 48px;
}
.avatar-large {
	width: 68px;
}
.avatar-full {
	width: 100%;
}

.select-wrapper {
	input.select-dropdown {
		font-size: 1.5rem;		
	}
}

input:not([type]), input[type=text], input[type=password], input[type=email], input[type=url], input[type=time], input[type=date], input[type=datetime], input[type=datetime-local], input[type=tel], input[type=number], input[type=search], textarea.materialize-textarea {
	font-size: 1.5rem;			
}

.side-nav {
	a {
		font-size: 1.5rem;
	}
}

.conversation {
	color: blue;
	padding: 10px;
}