<!DOCTYPE html>
<html>
<head>
  <title>Borrowmate</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link rel="stylesheet" href="http://code.jquery.com/ui/1.11.3/themes/smoothness/jquery-ui.css">	
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>
<body>
<%= render 'shared/navbar' %>
<%= render 'shared/message' %>
<div class="main-bg">
  <div class="container">
    <%= yield %>
  </div>
</div>
</body>
</html>
